body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
.hidden {
    display: none;
}
a {
    text-decoration: none;
    color: #5680E9;
}

@media only screen and (min-width:801px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    section {
        width: 100% ;
    }
    figure {
        display: block !important;
        width: 100%;
    }

    .remember-forgot {
        display: flex;
        justify-content: space-between;
    }

}

section {
    width: 100%;
    padding: 5%;
    margin: auto;
    line-height: 50px;
}

figure img {
    width: 100%;
}
h1 {
    font-family: 'Open Sans Extrabold';
    font-size: 2.5em;
    line-height: 50px;
    color: #2148AA;
}
form {
    margin: 0px;
    width: 100%;
}
div.input-container {
    border-bottom: 1px solid #C1C8E4;
    width: 100%;
    height: 55px;
}
input[type='text'], input[type='password'] {
    border:0;
    width: 100%;
    height: auto;
    font-size: 1em;
    outline: none;
}

label {
    color: #5680E9;
}

button {
    height: 35px;
    background: #5680E9;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    color: white;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 1em;
}

h3 {
    font-size: 1em;
    margin: 0;
    color: #5680E9;
    font-family: 'Open Sans Light';
}

h3 a {
    color: #2148AA;
    font-family: 'Open Sans Extrabold';
}

@media only screen and (max-width:800px) {
    figure img {
        opacity: 0;
        width: 0%;
        height: 0%;
    }

    section {
        text-align: center;
    }

    input {
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        max-width: 300px;
    }

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C1C8E4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C1C8E4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #C1C8E4;
}